# osx noise
.DS_Store
profile

# xcode noise
build/*
*.pbxuser
*.mode1v3
*.mode2v3

# old skool
.svn

#rails
sample_rails_app/log/*.log
sample_rails_app/tmp/**/*
sample_rails_app/doc/api
sample_rails_app/doc/app
*.sqlite3
